# ASP.NET Core
bin/
obj/
publish/
*.user
*.suo
*.log
*.db
*.sqlite
*.pdb
*.cache
*.vs/
*.vscode/
*.DS_Store
Thumbs.db
.env
secrets.json

# Angular
node_modules/
dist/
tmp/
out-tsc/
coverage/
.angular/
*.tsbuildinfo

# IDEs
.vscode/
.idea/
*.sln.docstates

# OS files
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# npm/yarn
package-lock.json
yarn.lock
